.main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding-left: 6.31%;
  padding-right: 6.31%;

  .imageWrap {
    // padding-left: 7.6%;
    // padding-right: 7.6%;
    margin-left: -6.31%;
    margin-right: -6.31%;
    display: flex;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;

    img {
      object-fit: contain;
    }
  }

  .imageWrapMobile {
    display: none;
  }

  .secondPart {
    padding-left: 2.2%;
    padding-right: 2.2%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    .titleWrap {
      margin-top: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .titleOne {
        font-family: "Space Grotesk";
        text-transform: uppercase;
        font-size: 48px;
        width: 100%;
        font-weight: 700;
        white-space: nowrap;
        text-align: center;

        p {
          display: inline;
          font-family: "Space Grotesk";
          text-transform: uppercase;
          font-size: 48px;
          font-weight: 700;
        }
      }
      .titleTwo {
        font-family: "Space Grotesk";
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 700;
        background: linear-gradient(271.23deg, #5532fa 17.59%, #a770ff 79.84%);
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
      }
      .titleThree {
        margin-top: 8px;
        width: 70%;
        font-family: "DM Sans";
        font-size: clamp(17px, 2vw, 24px);
        font-weight: 400;
        line-height: clamp(17px, 2.3vw, 34px);
        text-align: center;
      }
      .titleMobile {
        display: none;
      }
    }
  }

  .thirdPart {
    display: flex;
    padding-left: 2.21%;
    padding-right: 2.21%;
    gap: 44px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1190px;
    width: 100%;
    margin-top: 44px;
    justify-content: space-between;

    .firstCardWrap {
      width: 400px;
      height: auto;
      width: 100%;
      max-width: 400px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      background: rgba(60, 126, 226, 1);
      padding: 0 43px;
      padding-top: 24px;
      padding-bottom: 6px;

      .imageWrap {
        display: flex;
        margin-top: 40px;
        width: 100%;
        align-items: center;
        justify-content: center;
        bottom: 6px;
      }

      .heading {
        font-family: "Space Grotesk";
        font-size: clamp(14px, 1.8vw, 26px);

        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-transform: uppercase;
        text-align: left;
      }
      .description {
        margin-top: 24px;
        font-family: "DM Sans";
        font-size: clamp(14px, 1.4vw, 18px);

        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .secondCardWrap {
      width: 400px;
      height: auto;
      width: 100%;
      max-width: 400px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      background: rgba(30, 209, 94, 1);
      padding: 0 43px;
      padding-top: 24px;
      padding-bottom: 6px;

      .imageWrap {
        display: flex;
        margin-top: 40px;
        width: 100%;
        align-items: center;
        justify-content: center;
        bottom: 6px;
      }

      .heading {
        font-family: "Space Grotesk";
        font-size: clamp(14px, 1.8vw, 26px);

        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-transform: uppercase;
        text-align: left;
      }
      .description {
        margin-top: 24px;
        font-family: "DM Sans";
        font-size: clamp(14px, 1.4vw, 18px);

        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .thirdCardWrap {
      width: 400px;
      height: auto;
      width: 100%;
      max-width: 400px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      background: rgba(234, 48, 53, 1);
      padding: 0 43px;
      padding-top: 24px;
      padding-bottom: 42px;

      .imageWrap {
        display: flex;
        margin-top: 40px;
        width: 100%;
        align-items: center;
        justify-content: center;
        bottom: 6px;
      }

      .heading {
        font-family: "Space Grotesk";
        font-size: clamp(14px, 1.8vw, 26px);

        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-transform: uppercase;
        text-align: left;
      }
      .description {
        margin-top: 24px;
        font-family: "DM Sans";
        font-size: clamp(14px, 1.4vw, 18px);

        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  .linksWrap {
    margin-top: 90px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 29px;
  }
}

@media (max-width: 800px) {
  .main {
    margin-top: 15px;

    .imageWrap {
      display: none;
    }

    .imageWrapMobile {
      display: flex;
      width: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      justify-content: center;
      align-items: center;

      img {
        object-fit: contain;
      }
    }

    .secondPart {
      padding-left: 14%;
      padding-right: 14%;
      margin-top: 30px;

      .titleWrap {
        margin-top: 9px;
        .titleOne {
          display: none;
        }
        .titleTwo {
          display: none;
        }
        .titleThree {
          margin-top: 18px;
          width: 92%;
          font-family: "DM Sans";
          //   margin-left: 2%;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          text-align: center;
        }

        .titleMobile {
          font-family: "Space Grotesk";
          text-transform: uppercase;
          font-size: 32px;
          display: inline;
          flex-direction: row;
          font-weight: 700;
          text-align: center;

          p {
            display: inline;
            font-family: "Space Grotesk";
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 700;
            background: linear-gradient(
              273.69deg,
              #5532fa 0%,
              #5a35fa 0.01%,
              #a770ff 97.93%
            );
            -webkit-background-clip: text;
            color: transparent;
            text-align: center;

            p {
              background: linear-gradient(
                273.69deg,
                #5532fa 0%,
                #5a35fa 0.01%,
                #a770ff 97.93%
              );
            }
          }
        }
      }
    }

    .thirdPart {
      display: flex;
      flex-direction: column;
      gap: 41px;
      padding-left: 8.8%;
      padding-right: 8.8%;
      width: 100%;
      margin-top: 44px;
      align-items: center;
      justify-content: space-between;

      .firstCardWrap {
        height: 360px;
        max-width: 354px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        background: rgba(60, 126, 226, 1);
        padding-top: 24px;
        padding-left: 50px;
        padding-right: 37px;
        padding-bottom: 6px;

        .imageWrap {
          display: flex;
          margin-top: 26px;
          align-items: center;
          justify-content: center;
          bottom: 6px;
        }

        .heading {
          font-family: "Space Grotesk";
          font-size: 26px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0em;
          text-transform: uppercase;
          text-align: left;
        }
        .description {
          margin-top: 24px;
          font-family: "DM Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .secondCardWrap {
        height: 360px;
        max-width: 354px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        background: rgba(30, 209, 94, 1);
        padding-top: 24px;
        padding-left: 50px;
        padding-right: 37px;
        padding-bottom: 6px;

        .imageWrap {
          display: flex;
          margin-top: 26px;
          align-items: center;
          justify-content: center;
          bottom: 6px;
        }

        .heading {
          font-family: "Space Grotesk";
          font-size: 26px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0em;
          text-transform: uppercase;
          text-align: left;
        }
        .description {
          margin-top: 24px;
          font-family: "DM Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .thirdCardWrap {
        height: 360px;
        max-width: 354px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        background: rgba(234, 48, 53, 1);
        padding-top: 24px;
        padding-left: 37px;
        padding-right: 40px;
        padding-bottom: 6px;

        .imageWrap {
          display: flex;
          margin-top: 26px;
          align-items: center;
          justify-content: center;
          bottom: 6px;
        }

        .heading {
          font-family: "Space Grotesk";
          font-size: 26px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0em;
          text-transform: uppercase;
          text-align: left;
        }
        .description {
          margin-top: 24px;
          font-family: "DM Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }

    .linksWrap {
      align-items: center;
      gap: 25px;
      margin-top: 37px;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
}
