.main {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.31%;
  padding-right: 6.31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1700px;

  .imageWrap {
    display: flex;
    position: relative;
    width: inherit;
    background-size: cover;
    margin-left: -6.31%;
    margin-right: -6.31%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-position: center;
    padding-left: 9.6%;
    padding-right: 9.6%;

    img {
      object-fit: contain;
      max-height: 427px;
    }

    .container {
      position: absolute;
      max-width: 409px;
      width: 100%;
      right: 22%;
      // transform: translateY(50%) translateX(50%) !important;
      transform: translate(50%, 12%);

      h3 {
        font-family: "Space Grotesk";
        font-size: clamp(20px, 2vw, 36px);
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: left;
      }

      p {
        font-family: "DM Sans";
        margin-top: 7.1%;
        font-size: clamp(14px, 1.5vw, 20px);
        font-weight: 400;
        // line-height: 28px;
        letter-spacing: -0.01em;
        text-align: left;
      }

      .buttonContainer {
        max-width: 240px;
        margin-top: 7.1%;
        .buttonWrap {
          width: 240px;
          cursor: pointer;
          height: 60px;
          border: 2px solid #5532fa;
          border-image-slice: 1;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: #5532fa;
          }

          .buttonTitle {
            font-family: "Inter";
            font-size: 20px;
            text-transform: none;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
          }
        }
      }
    }
  }

  .imageWrapMobile {
    display: none;
  }

  .secondPart {
    padding-left: 2.2%;
    padding-right: 2.2%;

    .titleWrap {
      margin-top: 44px;
      .titleOne {
        font-family: "Space Grotesk";
        text-transform: uppercase;
        font-size: 48px;
        width: 100%;
        font-weight: 700;
        white-space: nowrap;
        text-align: left;

        p {
          display: inline;
          font-family: "Space Grotesk";
          text-transform: uppercase;
          font-size: 48px;
          font-weight: 700;
        }
      }

      .titleOneMobile {
        display: none;
      }
      .titleTwoMobile {
        display: none;
      }
      .titleTwo {
        font-family: "Space Grotesk";
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 700;
        background: linear-gradient(271.03deg, #5532fa 16.59%, #a770ff 99.03%);
        -webkit-background-clip: text;
        color: transparent;
        text-align: left;
      }
      .titleThree {
        margin-top: 14px;
        width: 100%;
        font-family: "DM Sans";
        font-size: clamp(17px, 2vw, 24px);
        font-weight: 400;
        line-height: clamp(27px, 2.3vw, 34px);

        text-align: left;
      }
    }
  }

  .thirdPart {
    display: flex;
    padding-left: 2.21%;
    padding-right: 2.21%;
    width: 100%;
    max-width: 1353px;
    gap: 44px;
    margin-top: 44px;
    justify-content: space-between;

    .firstCardWrap {
      height: auto;
      min-height: 442px;
      width: 100%;
      max-width: 400px;
      border-radius: 30px;
      gap: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: rgba(25, 25, 25, 1);
      padding-top: 40px;
      padding-left: 34px;
      padding-right: 35px;
      padding-bottom: 40px;

      .imageWrapOne {
        display: flex;
        // margin-top: 18px;
        width: 85%;
        max-width: 120px;
        max-width: 107px;
        // min-width: 151px;
        align-items: center;
        justify-content: center;
        bottom: 6px;
      }
      .imageWrapTwo {
        display: flex;
        // margin-top: 60px;
        width: 85%;
        max-width: 107px;
        max-width: 120px;
        align-items: center;
        justify-content: center;
        bottom: 6px;
      }
      .imageWrapThree {
        display: flex;
        // margin-top: 18px;

        width: 85%;
        max-width: 120px;
        align-items: center;
        justify-content: center;
        bottom: 6px;
      }

      .headingWrap {
        .heading {
          font-family: "Space Grotesk";
          font-size: clamp(14px, 1.8vw, 26px);
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0em;
          text-transform: uppercase;
          text-align: left;
        }
        .description {
          margin-top: 24px;
          font-family: "DM Sans";
          font-size: clamp(14px, 1.4vw, 18px);
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 950px) and (max-width: 1120px) {
  .main {
    margin-top: 0px;

    .imageWrap {
      padding-left: 9%;
      padding-right: 9%;
    }

    .container {
      position: absolute;
      max-width: 350px !important;
      width: 43% !important;
      left: unset !important;
      right: 6% !important;
      // transform: translateY(50%) translateX(50%) !important;
      transform: translate(0%, 11%) !important;

      h3 {
        font-family: "Space Grotesk";
        font-size: clamp(20px, 1.5vw, 36px) !important;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: left;
      }

      p {
        font-family: "DM Sans";
        margin-top: 7.1%;

        font-size: clamp(14px, 1.5vw, 20px) !important;
        font-weight: 400;
        // line-height: 28px;
        letter-spacing: -0.01em;
        text-align: left;
      }

      .buttonContainer {
        max-width: 180px !important;
        margin-top: 7.1%;

        .buttonWrap {
          width: 180px !important;
          height: 50px !important;
          border: 2px solid #5532fa;
          border-image-slice: 1;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: #5532fa;
          }

          .buttonTitle {
            font-family: "Inter";
            font-size: 15px !important;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (min-width: 800px) and (max-width: 949px) {
  .main {
    margin-top: 0px;

    .imageWrap {
      padding-left: 0%;
      padding-right: 0%;

      img {
        object-fit: contain;
        // height: fit-content;
      }
    }

    .container {
      position: absolute;
      max-width: 350px !important;
      width: 43% !important;
      left: unset !important;
      right: 0% !important;
      // transform: translateY(50%) translateX(50%) !important;
      transform: translate(0%, 11%) !important;

      h3 {
        font-family: "Space Grotesk";
        font-size: clamp(20px, 1.5vw, 36px) !important;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: left;
      }

      p {
        font-family: "DM Sans";
        margin-top: 7.1%;

        font-size: clamp(14px, 1.5vw, 20px) !important;
        font-weight: 400;
        // line-height: 28px;
        letter-spacing: -0.01em;
        text-align: left;
      }

      .buttonContainer {
        max-width: 180px !important;
        margin-top: 7.1%;
        .buttonWrap {
          width: 180px !important;
          height: 50px !important;
          border: 2px solid #5532fa;
          border-image-slice: 1;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: #5532fa;
          }

          .buttonTitle {
            font-family: "Inter";
            font-size: 15px !important;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
          }
        }
      }
    }

    .secondPart {
      margin-top: 0px;

      .titleWrap {
        margin-top: 0px;
      }
    }
  }
}
@media (max-width: 800px) {
  .main {
    margin-top: 56px;
    padding-left: 0%;
    padding-right: 0%;

    .imageWrap {
      display: none;
    }

    .imageWrapMobile {
      position: relative;
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      display: flex;
      width: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      justify-content: center;
      align-items: center;

      img {
        object-fit: contain;
        margin-left: 16.5%;
        margin-right: 8.2%;
      }

      .container {
        display: flex;
        position: absolute;
        top: 40px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        left: 50%;
        transform: translate(-50%, 0%);
        align-self: center;
        align-items: center;
        width: 100%;

        h3 {
          font-family: "Space Grotesk";
          font-size: 32px;
          max-width: 283px;

          font-weight: 700;
          line-height: 41px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          text-align: center;
        }

        p {
          font-family: "DM Sans";
          margin-top: 30px;
          font-size: 16px;
          max-width: 283px;

          font-weight: 400;
          // line-height: 28px;
          letter-spacing: -0.01em;
          text-align: center;
        }

        .buttonContainer {
          max-width: 240px;
          margin-top: 30px;

          .buttonWrap {
            width: 240px;
            height: 60px;
            border: 2px solid #5532fa;
            border-image-slice: 1;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: #5532fa;
            }

            .buttonTitle {
              font-family: "Inter";
              font-size: 20px;
              text-transform: none;
              font-weight: 400;
              line-height: 40px;
              letter-spacing: 0em;
              text-align: center;
            }
          }
        }
      }
    }

    .secondPart {
      padding-left: 14%;
      padding-right: 14%;
      margin-top: 39px;

      .titleWrap {
        margin-top: 9px;
        .titleOne {
          display: none;
        }

        .titleOneMobile {
          display: inline;
          font-family: "Space Grotesk";
          text-transform: uppercase;
          font-size: 32px;
          width: 100%;
          font-weight: 700;
          white-space: nowrap;
          text-align: left;

          p {
            display: inline;
            font-family: "Space Grotesk";
            text-transform: uppercase;
            font-size: 32px;
            background: linear-gradient(
              273.69deg,
              #5532fa 0%,
              #5a35fa 0.01%,
              #a770ff 97.93%
            );
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 700;
          }
        }
        .titleTwo {
          display: none;
        }
        .titleTwoMobile {
          display: inline;
          font-family: "Space Grotesk";
          text-transform: uppercase;
          font-size: 32px;
          font-weight: 700;
          background: linear-gradient(
            273.69deg,
            #5532fa 0%,
            #5a35fa 0.01%,
            #a770ff 97.93%
          );
          -webkit-background-clip: text;
          color: transparent;
          text-align: left;
        }
        .titleThree {
          margin-top: 28px;
          width: 92%;
          font-family: "DM Sans";
          //   margin-left: 2%;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          text-align: left;
        }
      }
    }

    .thirdPart {
      display: flex;
      flex-direction: column;
      gap: 41px;
      padding-left: 8.8%;
      padding-right: 8.8%;
      width: 100%;
      margin-top: 44px;
      align-items: center;
      justify-content: space-between;

      .firstCardWrap {
        height: 458px;
        max-width: 354px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(25, 25, 25, 1);
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 37px;
        padding-right: 34px;

        .imageWrap {
          max-width: 110px;
          max-height: 104px;
        }
        .imageWrapTwo {
          max-width: 110px;
          max-height: 104px;
        }
        .imageWrapThree {
          max-width: 110px;
          max-height: 104px;
        }

        .headingWrap {
          .heading {
            font-family: "Space Grotesk";
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 700;
            color: #fff;
            line-height: 29.9px;
            text-align: center;
          }
          .description {
            width: 96%;
            font-family: "DM Sans";
            font-size: 16px;
            margin-top: 22px;
            color: #fff;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
          }
        }
      }
    }
  }
}
