.main {
  margin-top: 40px;
  padding-left: 6.31%;
  padding-right: 6.31%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 1700px;

  .imageWrap {
    // left: -34px;
    position: relative;
    // height: 608px;
    margin-left: -6.31%;
    margin-right: -6.31%;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    img {
      object-fit: contain;
      position: absolute;
      top: -130px;
    }
  }

  .imageWrapMobile {
    display: none;
  }

  .secondPart {
    padding-left: 2.2%;
    padding-right: 2.2%;
    margin-top: 46%;
    z-index: 2;

    .titleWrap {
      margin-top: 40px;
      .titleOne {
        font-family: "Space Grotesk";
        text-transform: uppercase;
        font-size: 48px;
        width: 100%;
        font-weight: 700;
        white-space: nowrap;
        text-align: left;

        p {
          display: inline;
          font-family: "Space Grotesk";
          text-transform: uppercase;
          font-size: 48px;
          font-weight: 700;
        }
      }
      .titleTwo {
        font-family: "Space Grotesk";
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 700;
        background: linear-gradient(270.95deg, #5532fa 1.25%, #a770ff 99.1%),
          linear-gradient(271.3deg, #5532fa 44.28%, #a770ff 98.78%);

        -webkit-background-clip: text;
        color: transparent;
        text-align: left;
      }
      .titleThree {
        margin-top: 14px;
        width: 100%;
        font-family: "DM Sans";
        font-size: clamp(18px, 2vw, 24px);
        font-weight: 400;
        line-height: clamp(27px, 2.3vw, 34px);

        text-align: left;
      }
    }
  }

  .thirdPart {
    display: flex;
    gap: 25px;
    align-self: center;
    max-width: 1190px;
    padding-left: 2.21%;
    padding-right: 2.21%;
    width: 100%;
    margin-top: 44px;
    justify-content: space-between;

    .firstCardWrap {
      height: auto;
      max-height: 531px;
      max-width: 354px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      padding-top: 26px;
      padding-bottom: 21px;

      .imageWrapCard {
        display: flex;
        margin-top: 18px;
        align-items: center;
        align-self: center;
        width: 100%;
        justify-content: center;
        max-width: 354px;
      }

      .heading {
        font-family: "DM Sans";
        text-transform: uppercase;
        font-size: clamp(14px, 1.4vw, 26px);
        font-weight: 700;
        color: #000000;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: center;
      }

      .line {
        width: 100%;
        height: 2px;
        margin-top: 22px;
        background: #444444;
      }

      .description {
        font-family: "Inter";
        font-size: clamp(9px, 1.2vw, 12px);
        margin-top: 26px;
        color: #000000;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
      }

      .container {
        width: 100%;
        display: flex;
        margin-top: 14px;
        justify-content: center;
        align-items: center;
        .buttonWrap {
          cursor: pointer;
          margin-left: 2.2%;
          width: fit-content;
          padding-left: 16px;
          padding-top: 18px;
          padding-bottom: 20px;
          padding-right: 16px;
          height: auto;
          border: 2px solid transparent;
          border-color: rgba(143, 143, 143, 0.6);
          border-image-slice: 1;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000000;

          h3 {
            font-family: "Inter";
            font-size: clamp(14px, 1.4vw, 16px);
            font-weight: 400;
            color: #000000;
            // line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
          }

          &:hover {
            border-color: #000;
            background-color: #ffffff;
            color: #000;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .main {
    margin-top: 40px;
    padding-left: 0%;
    padding-right: 0%;

    .imageWrap {
      display: none;
    }

    .imageWrapMobile {
      display: flex;
      position: relative;
      width: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      img {
        position: absolute;
        top: -71px;
      }
    }

    .secondPart {
      padding-left: 14%;
      padding-right: 14%;
      margin-top: 50%;

      .titleWrap {
        margin-top: 9px;
        .titleOne {
          font-family: "Space Grotesk";
          text-transform: uppercase;
          font-size: 32px;
          font-weight: 700;
          color: #ffffff;
          text-align: left;

          p {
            display: flex;
            font-family: "Space Grotesk";
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 700;
            -webkit-background-clip: text;
            color: #ffffff;
            text-align: left;
          }
        }
        .titleTwo {
          font-family: "Space Grotesk";
          text-transform: uppercase;
          font-size: 32px;
          font-weight: 700;
          background: linear-gradient(270.95deg, #5532fa 1.25%, #a770ff 99.1%),
            linear-gradient(271.3deg, #5532fa 44.28%, #a770ff 98.78%);
          -webkit-background-clip: text;
          color: transparent;
          text-align: left;
        }
        .titleThree {
          margin-top: 28px;
          width: 92%;
          font-family: "DM Sans";
          //   margin-left: 2%;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          text-align: left;
        }
      }
    }

    .thirdPart {
      display: flex;
      flex-direction: column;
      gap: 41px;
      padding-left: 8.8%;
      padding-right: 8.8%;
      align-items: center;
      max-width: 1190px;
      width: 100%;
      margin-top: 44px;
      justify-content: space-between;

      .firstCardWrap {
        height: auto;
        max-height: 531px;
        max-width: 354px;
        width: 100%;
        border-radius: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding-top: 26px;
        padding-bottom: 21px;

        .imageWrapCard {
          display: flex;
          margin-top: 18px;
          align-items: center;
          align-self: center;
          width: 100%;
          justify-content: center;
          max-width: 354px;
        }

        .heading {
          font-family: "Space Grotesk";
          text-transform: uppercase;
          max-width: 305px;
          font-size: 26px;
          font-weight: 700;
          color: #000000;
          line-height: 24px;
          letter-spacing: -0.02em;
          text-align: center;
        }

        .line {
          width: 100%;
          height: 2px;
          margin-top: 22px;
          background: #444444;
        }

        .description {
          font-family: "Inter";
          font-size: 12px;
          margin-top: 26px;
          color: #000000;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: center;
        }

        .container {
          width: 100%;
          display: flex;
          margin-top: 14px;
          justify-content: center;
          align-items: center;
          .buttonWrap {
            cursor: pointer;
            margin-left: 2.2%;
            width: fit-content;
            padding-left: 16px;
            padding-top: 18px;
            padding-bottom: 20px;
            padding-right: 16px;
            height: auto;
            border: 2px solid transparent;
            border-color: rgba(143, 143, 143, 0.6);
            border-image-slice: 1;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000;

            h3 {
              font-family: "Inter";
              font-size: 16px;
              font-weight: 400;
              color: #000000;
              // line-height: 40px;
              letter-spacing: 0em;
              text-align: center;
            }

            &:hover {
              border-color: #000;
              background-color: #ffffff;
              color: #000;
            }
          }
        }
      }
      // .firstCardWrap {
      //   height: 414px;
      //   max-width: 354px;
      //   border-radius: 10px;
      //   display: flex;
      //   flex-direction: column;
      //   background: #ffffff;
      //   padding-top: 35px;
      //   padding-bottom: 35px;

      //   .imageWrapCard {
      //     display: flex;
      //     margin-top: 18px;
      //     align-items: center;
      //     justify-content: center;
      //     max-width: 354px;
      //     height: 290px;
      //   }

      //   .Line {
      //     margin-top: 22px;
      //     width: 100%;
      //     height: 2px;
      //     background: rgba(69, 69, 69, 1);
      //   }
      //   .heading {
      //     font-family: "DM Sans";
      //     text-transform: uppercase;
      //     font-size: 20px;
      //     font-weight: 700;
      //     color: #ffffff;
      //     line-height: 24px;
      //     letter-spacing: -0.02em;
      //     text-align: center;
      //   }
      //   .description {
      //     font-family: "Inter";
      //     font-size: 13px;
      //     margin-top: 26px;
      //     color: #ffffff;
      //     font-weight: 400;
      //     line-height: 16px;
      //     letter-spacing: 0em;
      //     text-align: center;
      //   }

      //   .container {
      //     width: 100%;
      //     display: flex;
      //     margin-top: 14px;
      //     justify-content: center;
      //     align-items: center;
      //     .buttonWrap {
      //       margin-left: 2.2%;
      //       width: 140px;
      //       height: 60px;
      //       border: 2px solid rgba(143, 143, 143, 0.6);
      //       border-image-slice: 1;
      //       border-radius: 50px;
      //       display: flex;
      //       align-items: center;
      //       justify-content: center;

      //       h3 {
      //         font-family: "Inter";
      //         font-size: 16px;
      //         font-weight: 400;
      //         color: #ffffff;
      //         letter-spacing: 0em;
      //         text-align: center;
      //       }
      //     }
      //   }
      // }
    }
  }
}
